:host {
  display: block;
  height: 50px;
  width: 50px;
}

:host.canMove {
  box-shadow: inset 0px 0px 8px 2px #81d0f0;
}

.castling-hint {
  color: #d6d7d8;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.ng-fa-icon {
  filter: drop-shadow( 0px 0px 1px #3b3b3b)
}
