/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
}

input, textarea, button {
  font-size: 1rem;
}

.container {
  margin: auto;
  max-width: 1110px;

  padding-left: .5rem;
  padding-right: .5rem;
}

