<div class="container">
  <app-header></app-header>
</div>
<a routerLink="/" class="go-back">you games</a>
<div class="container">
  <div class='game-info'>
    <div class="title capitalize">{{title}}</div>
    <div class="side">You are playing {{ userSide === 'w' ? 'white' : 'black'}}</div>
  </div>
  <div class="board">
    <app-chess-field
      [fen]="fen"
      [userSide]="userSide"
      (saveMove)="saveMove($event)"
    ></app-chess-field>
  </div>
  <app-game-status></app-game-status>
</div>
<!-- <div class="moves-history">
  <h2>Moves history</h2>
</div> -->
