:host {
  display: block;
  height: 50px;
  width: 50px;
}

:host.is-moving {
  z-index: 9999;
  position: absolute;
}

/* :host.movable {
  position: absolute;
} */

.figure {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;

  font-size: 2rem;
}

.figure--white {
  color: #fff;
}

.figure .ng-fa-icon {
  filter: drop-shadow( 1px 1px 2px #fff);
}
.figure--white .ng-fa-icon {
  filter: drop-shadow( 1px 1px 2px #000);
}
