:host {
  display: block;
  height: 50px;
  width: 50px;
}
.figure {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;

  font-size: 2rem;
}

.white {
  color: #df9b03;
}
