.chess-board {
  position: relative;
  --cell-background: #4b7398;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  width: 400px;
  font-size: 2rem;

  background: #eae9d2;
}

.chess-board .row {
  display: flex;
  width: 400px;
}

.chess-board .cell {
  width: 50px;
  height: 50px;
  box-shadow: 0px 0px 0px 1px var(--cell-background);
}

.chess-board .cell.active {
  box-shadow: inset 0px 0px 7px 0px #fc9439, 0px 0px 0px 1px var(--cell-background);
}

.chess-board .row:nth-child(even) .cell:nth-child(odd) {
  background-color: var(--cell-background);
}

.chess-board .row:nth-child(odd) .cell:nth-child(even) {
  background-color: var(--cell-background);
}
